*{
  margin: 0px;
  padding: 0px;
}

body{
  margin-left: 5%;
  margin-right: 5%;
}
h3{
  color:#68D3FF;
}
.college{
  color: #2789B3;
  font-family: 'Inconsolata', monospace;
  margin-top: 1in;
  font-size: 50px;
}

.title{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: .5in;
}
.event{
  border: 5px solid darkgrey;
  font-family: 'Hind Siliguri', sans-serif;
  width: 6in;
  padding-left: 3%;
  background-color: white;
}

.eventsContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 75%;
}
.dropbtn {
 background-color: #3498DB;
 color: white;
 padding: 16px;
 font-size: 20px;
 border: none;
 cursor: pointer;
 width: 2in;
 height:.5in;
 font-family: 'Inconsolata', monospace;

}

.dropdown {
 position: relative;
 display: inline-block;

}
.dropdown-content {
  display: none;
  background-color: #f1f1f1;
  width: 2in;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.location{
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 18px;
}
.droparea{
  width:3in;
  height:4in;
}
.location{
  height:.5in;
  width:2in;
  text-align: left;
  padding-left: .1in;
}
.wholebody{
  display: flex;
  flex-direction: row;
  background-color:
}
.showEvent{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 75%;
}
.top {
  border: 3px black solid;
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 1.25in;
  font-size: 50px;
  margin-bottom: 0;
  background-color: #2789B3;
  color: white;
  font-family: 'Inconsolata', monospace;
}
h2{
    font-family: 'Inconsolata', monospace;
    text-align: center;
    background-color: #FFAE52;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    margin-bottom: .5in;
  }
